{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<body  >
  <div class="card bg-dark text-white"   >
    <img src="\media\imagenes_inicio\fondo.jpg"  class="card-img" alt="...">
    <div class="card-img-overlay">

      <div class="card text-center " style="background-color: rgba(37, 107, 172, 0.438) ;border-radius: 50%;">
        <div class="card-header">
          <h2 style="font-family:Georgia, 'Times New Roman', Times, serif" >Bienvenido a mi Portfolio</h2>
        </div>
       
      </div>

      <div class="row" style="margin-left: 20%;margin-top: 8%;">
        <div class="card-group" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Descargar CV</h5>
            <p class="card-text">Presiona el boton de abajo para descargar mi curriculum</p>
            <button type="button" class="btn btn-dark" ><a href="#" class="card-link" style="color: white ;">Ver mas</a></button>
            
          </div>
        </div>
        <div class="card-group" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">GitHub</h5>
            <p class="card-text">Presiona el boton de abajo para ver mi repositorio en GitHub</p>
            <button type="button" class="btn btn-dark" ><a href="https://github.com/DemianPython" class="card-link" style="color: white ;">Ver mas</a></button>
          </div>
        </div>
        <div class="card-group" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Linkedin</h5>
            <p class="card-text">Presiona el boton de abajo si queres ver mi perfil en Linkedin</p>
            <button type="button" class="btn btn-dark" ><a href="https://www.linkedin.com/in/demian-gomez-062097239/" class="card-link" style="color: white ;">Ver mas</a></button>
          </div>
        </div>
      </div>
    </div>
      

     
    

    


    

  
   
    

        
    

</body>

{% endblock %}