{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<body>
  <section >
    <div class="card bg-dark text-white">
      <img src="media\images_portfolio\fondoinicio.jpg" style="height: 38rem ;" class="img-fluid" alt="...">
      <div class="card-img-overlay" style="margin-left: 1%;margin-top:2%; ">
        <h1 class="card-title" style="color: rgba(19, 18, 4, 0.738);font-family:Georgia, 'Times New Roman', Times, serif;">
        <img src="\media\imagenes_inicio\yo.jpg" width="400px" height="300px" style="border-radius:50%;margin-left: 33%;border-style: 1px solid black;" alt="">  
        <br>
           <b style="margin-left:41% ;">Portfolio </b>
      </div>
    </div>
  
  </section>

  <br>

  <section id="1">
    <div class="card-header" style="background-color: rgba(66, 21, 10, 0.897) ;">
      <h2 style="margin-left: 43% ;color: white;font-family:Georgia, 'Times New Roman', Times, serif;" >Proyectos</h2>
  </div>
  <div class="d-flex " style=" margin-left: 1rem; ">
      {% for project  in  project %}
      <div class="card " style="width: 19rem;margin-left: 7%;height: 30rem;margin-top: 2rem;background-color: rgba(66, 21, 10, 0.553) ; color: white;border-radius: 10%;font-family:Georgia, 'Times New Roman'">
          <div class="card-body">
              {% if project.image %}
              <img src="{{project.image.url}}"  width="200px" height="200px" class="card-img-top" >
              {% endif %}
          <br>
          <br>
              <h5 class="card-title"><b>{{project.title}}</b></h5>
              <p class="card-text">{{project.description}}</p>
              <p class="btn btn-white" style="background-color: rgba(66, 21, 10, 0.327)  ; ;"> <a href="{{project.url}}" style="color: rgb(247, 247, 247); text-decoration: none;">Link del Proyecto</a> </p>
          </div>
      </div>
      {% endfor %}
  </div>

  </section>

<br>
<br>
<br>

<section id="2">
  <div class="card-header" style="background-color: rgba(66, 21, 10, 0.897)  ;">
    <h2 style="margin-left: 44% ;color: white;font-family:Georgia, 'Times New Roman', Times, serif;" >Contacto</h2>
  </div>
  <div class="card mb-3" style="max-width: 540px;margin-left: 30%;margin-top: 2%;background-color: rgba(66, 21, 10, 0.553) ;color: white;border-radius: 4%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="\media\imagenes_inicio\contacto.jpg" width="538px" height="300px" style="border-radius: 4%;" alt="...">
      </div>
      <div class="col-md-8" style="margin-left: 3%;">
        <div class="card-body">
          <h5 class="card-title" style="font-family:Georgia, 'Times New Roman'"><b>Demian Gomez</b></h5>
          <p class="card-text"><b style="font-family:Georgia, 'Times New Roman'">Correo:</b> demis92009@gmail.com</p>
          <p class="card-text"><b style="font-family:Georgia, 'Times New Roman'">Telefono:</b> 341 229-0467 </p>
          
        </div>
      </div>
    </div>
  </div>

</section>

<br>
<br>
<br>



      

</body>

{% endblock %}